
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.gz
*.xdv
plano-ial-2023-1.pdf
*.lof
*.idx
Algebra_Linear.toc
Algebra_Linear.pdf
Algebra_Linear.tex
main.pdf
main.tex
IAL.pdf
*.bcf
*.xml
*.toc
*.bbl
*.blg
*.ilg
*.ind
*.synctex(busy)
listas/lista_modulo_1.pdf
listas/lista_1_modulo_1.pdf
*.nav
apresentacoes/aula_01/apresentacao_curso.pdf
*.snm
apresentacoes/aulas_sistemas_lineares/sistemas_lineares.pdf
apresentacoes/aula_01/apresentacao_curso_2.pdf
apresentacoes/aulas_sistemas_lineares/sistemas_lineares2.pdf
