
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.gz
*.xdv
plano-ial-2023-1.pdf
*.lof
*.idx
Algebra_Linear.toc
Algebra_Linear.pdf
Algebra_Linear.tex
main.pdf
main.tex
IAL.pdf
*.bcf
*.xml
*.toc
*.bbl
*.blg
*.ilg
*.ind
*.synctex(busy)
listas/lista_modulo_1.pdf
listas/lista_1_modulo_1.pdf
*.nav
apresentacoes/aula_01/apresentacao_curso.pdf
*.snm
apresentacoes/aulas_sistemas_lineares/sistemas_lineares.pdf
apresentacoes/aula_01/apresentacao_curso_2.pdf
apresentacoes/aulas_sistemas_lineares/sistemas_lineares2.pdf
figuras_geogebra/retas_concorrentes.pdf
figuras_geogebra/2-planos-coincidentes-paralelos-terceiro_nenhuma_solucao.pdf
figuras_geogebra/2-planos-coincidentes_infinitas_solucoes-intersecao-reta.pdf
figuras_geogebra/2-planos-coincidentes_nenhuma_solucao.pdf
figuras_geogebra/2-planos-paralelos_nenhuma_solucao.pdf
figuras_geogebra/3-planos-coincidentes_infinitas_solucoes.pdf
figuras_geogebra/3-planos-distintos_nenhuma_solucao-intersecao-vazia.pdf
figuras_geogebra/3-planos-paralelos.pdf
figuras_geogebra/3-planos-paralelos_nenhuma_solucao.pdf
figuras_geogebra/3-planos-sem_nenhuma_intersecao_sem-solucao.pdf
figuras_geogebra/3-planos-solucao_unica.pdf
figuras_geogebra/posicoes_de_planos_e_solucoes_sistema_linear.pdf
apresentacoes/aulas_sistemas_lineares/sistemas_lineares_primeira_semana.pdf
apresentacoes/aulas_sistemas_lineares/sistemas_lineares_20230330.pdf
apresentacoes/aulas_sistemas_lineares/sistemas_lineares_20230404.pdf
listas/ans1.tex
listas/lista_2_modulo_1.pdf
apresentacoes/aulas_sistemas_lineares/sistemas_lineares_20230406.pdf
listas/lista_3_modulo_1.pdf
*.dia~
diagramas_aplicacoes/Diagrama_corrente.pdf
diagramas_aplicacoes/Diagrama_circuito_um_resistor.pdf
diagramas_aplicacoes/Diagrama_circuito_quatro_resistores.pdf
diagramas_aplicacoes/Diagrama_circuito_quatro_resistores.dia.autosave
listas/lista_4_modulo_1.pdf
diagramas_aplicacoes/exercicio_redes_3-anton.dia.autosave
apresentacoes/aulas_sistemas_lineares/sistemas_lineares_aplicacoes.pdf
diagramas_aplicacoes/diagrama_circuito_uma_unica_fonte_energia.dia.autosave
apresentacoes/aulas_sistemas_lineares/sistemas_lineares_20230417.pdf
apresentacoes/aulas_sistemas_lineares/sistemas_lineares_aplicacoes_20230420.pdf
listas/lista_1_modulo_2.pdf
apresentacoes/aulas_espacos_vetoriais/espacos_vetoriais.pdf
apresentacoes/aulas_sistemas_lineares/espacos_vetoriais_20230511.pdf
listas/lista_2_modulo_2.pdf
listas/lista_3_modulo_2.pdf
listas/lista_4_modulo_2.pdf
listas/lista_1_modulo_3.pdf
listas/lista_2_modulo_3.pdf
apresentacoes/aulas_transformacoes_lineares/transformacoes_lineares.pdf
listas/solucao-exercicio-lista-1-modulo-3.pdf
plano-ial-2023-2.pdf
apresentacoes/aula_01/revisao_matriz.pdf
Testes_semanais/Teste_1_Modulo_1.pdf
Testes_semanais/Teste_2_Modulo_1.pdf
Testes_semanais/Teste_3_Modulo_1.pdf
Testes_semanais/Teste_1_Modulo_2.pdf
Testes_semanais/Teste_1_Modulo_2.pdf
Testes_semanais/Teste_1_Modulo_2.pdf
Testes_semanais/modulo_2/Teste_2_Modulo_2.pdf
listas/modulo_2/ans1.tex
listas/modulo_2/lista_2_modulo_2.pdf
Testes_semanais/modulo_2/Teste_3_Modulo_2.pdf
listas/modulo_2/lista_3_modulo_2.pdf
listas/modulo_2/lista_4_modulo_2.pdf
Testes_semanais/modulo_2/Teste_4_Modulo_2.pdf
listas/modulo_1/lista_1_modulo_1.pdf
listas/modulo_1/ans1.tex
listas/modulo_2/lista_1_modulo_2.pdf
listas/modulo_3/ans1.tex
listas/modulo_3/lista_1_modulo_3.pdf
Testes_semanais/modulo_3/Teste_1_Modulo_3.pdf
Testes_semanais/modulo_3/Teste_2_Modulo_3.pdf
listas/modulo_3/lista_2_modulo_3.pdf
